body {


}


/*HOME STYLE RAMO*/

.btn-card {
    background-color: #521A25;
    color: white;
    font-size: 0.7em
}

    .btn-card:hover {
        background-color: saddlebrown;
        color: white;
    }

.c-card {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .c-card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

/*HOME STYLE RAMO*/


