body {
}


/*HOME STYLE RAMO*/

.btn-card {
    background-color: #521A25;
    color: white;
    font-size: 0.7em
}

    .btn-card:hover {
        background-color: saddlebrown;
        color: white;
    }

.c-card {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .c-card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }

/*HOME STYLE RAMO*/

/* DETAILS PES */

.product-image {
    max-height: 400px;
    border: 5px solid #521A25;
    border-radius: 10px;
}

.btn-primary {
    background-color: #521A25;
    border-color: #521A25;
}

    .btn-primary:hover {
        background-color: #6c757d;
        border-color: #6c757d;
    }

.product-image-container {
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: border-color 0.3s;
}

    .product-image-container:hover {
        border-color: #666;
    }

.container img {
    transition: transform 0.3s ease;
}

    .container img:hover {
        transform: scale(1.01);
    }
