body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

/*HOME STYLE RAMO*/

.btn-card {
    background-color: #521A25;
    color: white;
    color: saddlebrown;
    font-size: 0.7em
}

.btn-card:hover {
        background-color: saddlebrown;
        color: white;
    }

.c-card {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .c-card:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.03);
        cursor:pointer;
    }

.dp-dw-cat {
    width: 200px !important;
}

/*HOME STYLE RAMO*/

/*ADD PRODUCT RAMO*/

.img-coffe {
    width:50%;
    height:auto;
}
/*ADD PRODUCT RAMO*/
/* DETAILS PES */

/*Home style Marco navbar BO*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0C141A;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

.nav-links {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.nav-links li {
        margin-right: 20px;
    }

.profile-dropdown {
    display: flex;
    align-items: center;
    position: relative;
}

.profile-dropdown img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
    }

.profile-dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 60px;
        right: 0;
    }

.profile-dropdown .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

.profile-dropdown:hover .dropdown-content {
        display: block;
    }

.profile-dropdown .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

navbarNav {
    background-color: #0C141A;
}

/* DETAILS PES */

.product-image-container {
    overflow: hidden;
    cursor: pointer;
}

.container img {
    transition: box-shadow 0.3s, transform 0.3s;
}

.container img:hover {
        transform: scale(1.01);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.03)
    }
