/* Global Styles */
﻿body {
    font-family: 'Arial', sans-serif;
    background-color: whitesmoke;
}

.spc-footer {
    margin-bottom: 150px;
}

.btn-card, .btn-add {
    background-color: #521A25;
    color: white;
}

    .btn-card:hover, .btn-add:hover {
        background-color: saddlebrown;
    }

.c-card, .container img {
    transition: box-shadow 0.3s, transform 0.3s;
}

    .c-card:hover, .container img:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transform: scale(1.03);
    }

.h-btn-cart {
    color: #3A2417;
}

    .h-btn-cart:hover {
        color: saddlebrown;
    }



.dp-dw-cat {
    width: 200px !important;
}

.txt-lbladd {
    color: #521A25;
}

/* Navbar Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #3A2417!important;
}

.logo img, .profile-dropdown img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.tlt-nav {
    font-family: 'Great Vibes', cursive;
}

.nav-links {
    list-style: none;
    margin: 10px;
    padding: 0;
}

    .nav-links li {
        margin-right: 20px;
    }

.profile-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 60px;
    right: 0;
}

.profile-dropdown:hover .dropdown-content {
    display: block;
}

.profile-dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    .profile-dropdown .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

/* Product Image Container */

.product-image-container {
    overflow: hidden;
    cursor: pointer;
}


/* CART PAGE */

.cart-page {
    padding: 50px;
    background-color: #eaeded;
}

@media screen and (min-width: 576px) {
    .querySize {
        width: 10rem;
    }

    .card-title {
        margin: 7px 0px 5px 0px;
    }

    .card-text {
        margin: 8px 0px 0px 0px;
    }
}

@media screen and (min-width: 1200px) {
    .querySize {
        width: 15rem
    }

    .card-title {
        font-size: 2.2rem;
        margin: 8px 0px 7px 0px;
    }

    .card-text {
        font-size: 1.7rem;
        margin: 10px 0px 5px 0px;
    }
}

/*footer shop*/
.bg-footer {
    background-color: whitesmoke;
}

/*HOMEPAGEBO*/

.details-link {
    color: #521A25;
    text-decoration: none;
}

    .details-link:hover {
        color: saddlebrown;
        text-decoration: underline;
    }
